* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2929298f;
}

.list-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  border: 1px solid black;
  border-radius: 10%;
  min-width: 15rem;
  min-height: 20rem;
  max-width: 20rem;
  max-height: 24rem;
  margin: 1rem;
  padding: 0.5rem 0.5rem 1rem;
  background-color: #35374b6b;
  color: #0bdab0;
}

.card-header {
  height: 12.5rem;
  display: block;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: none;
  border-radius: 10%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.card-info-container .title {
  font-size: 2rem;
  padding: 0.3rem 0;
  font-weight: bold;
}
.card-info-container .category {
  font-style: italic;
  font-weight: 700;
  margin-top: 0rem;
  font-size: 0.8rem;
}
.card-info-container .category:hover {
  cursor: pointer;
  color: #bacc81;
}

.card-info-container p {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0.3rem;
}

.card-info-container button {
  font-size: 1.3rem;
  border-radius: 10%;
  padding: 0.5rem 01rem;
  box-shadow: 5px 5px 13px #a0153e;
  transition: background-color 0.3s, transform 0.1s;
  background-color: #5d0e41;
  color: white;
}

.fav-btn:active {
  transform: scale(0.95);
}
.controls-container {
  background-color: #292929f3;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bookmark-container {
  margin-right: 10rem;
  color: #3a8f56;
  cursor: pointer;
}

.controls {
  margin: 2.7rem;
  display: flex;
  color: white;
  font-size: 1.3rem;
  align-items: center;
}

.controls label {
  color: white;
  font-weight: bolder;
  margin-right: 1rem;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #3a8f56;
}

.custom-select option:checked {
  background-color: #007bff;
  color: #fff;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
}

.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: calc(50% - 6px);
  right: 10px;
  font-size: 12px;
  pointer-events: none;
  color: #555;
}

.custom-select:hover::after {
  color: #007bff;
}

.filter {
  font-weight: bold;
  display: flex;
  margin: 0 2rem;
  align-items: center;
}

.filter-tags-container {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.filter-tags {
  font-size: 0.9rem;
  font-weight: 900;
  font-style: italic;
  font-style: italic;
  color: #3a8f56;
  padding: 0.5rem;
}

.clear-btn-container {
  position: relative;
}
.clear {
  cursor: pointer;
  position: absolute;
  top: -1.6rem;
  display: none;
  border-radius: 70%;
  font-size: 1rem;
  font-weight: bold;
  font-weight: bold;
  width: 1.5rem;
  background-color: transparent;
  color: red;
}
footer {
  margin: 2rem;
}
#pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}
.pagination-btn {
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  margin: 0 0.3rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.pagination-btn:hover {
  background-color: #f0f0f0;
}
.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.current-page {
  margin: 0 0.6px;
  font-weight: bold;
}
